In [51]:
msg = 1
if msg==5:
    print ("print five")
elif msg==1:
    print ("One")
else:
    print ("jdiuehfi")

One

In [54]:
a = float(input("Write a number"))
if a==1:
    print("Sunday")
elif a==2:
    print("Monday")
elif a==3:
    print("Tuesday")
elif a==4:
    print ("Wednesday")
elif a==5:
    print("Thursday")
elif a==6:
    print("Friday")
elif a==7:
    print("Saturday")
else:
    print("Please choose from number 1-7")

Sunday

In [53]:
type(msg) #This is a comment

int

In [67]:
msg="I am Prajwal"
msg[-2]

'a'

In [62]:
print(len(msg))
print(len("my name is"))

12
10

In [63]:
print(len(msg))
print(len("my name is"))

12
10

In [68]:
for i in msg:
    print(i)

I

a
m

P
r
a
j
w
a
l

In [69]:
msg.upper()

'I AM PRAJWAL'

In [70]:
msg.lower()

'i am prajwal'

In [72]:
print(msg)

I am Prajwal

In [73]:
print(msg.swapcase())

i AM pRAJWAL

strip(), split(), format()

In [75]:
name = "        abc         " #To remove the empty spaces
print(len(name))
print(len(name.strip()))      #Strip will remove the empty spaces

20
3

/t   /n

In [83]:
name ="I\tam\tprajwal"
print(name)

I	am	prajwal

In [107]:
numbers = "2,3,5,7,2,8"
nos=(numbers.split(','))
print(nos)
sum=0
for item in nos:
    temp = int(item)
    sum=sum+temp
    print(item,type(item),temp,type(temp))
print(sum)

['2', '3', '5', '7', '2', '8']
2 <class 'str'> 2 <class 'int'>
3 <class 'str'> 3 <class 'int'>
5 <class 'str'> 5 <class 'int'>
7 <class 'str'> 7 <class 'int'>
2 <class 'str'> 2 <class 'int'>
8 <class 'str'> 8 <class 'int'>
27

In [113]:
name = input("Enter the name")
Password = input("Enter a password")
server = input("Input a server name")
print("your username is: {}, password is: {} and server name is :{}".format(name,Password,server))

your username is: sad, password is: fgf and server name is :kjh

For Loop

In [120]:
for i in range(10,20,1):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [121]:
# find the sum of n multiples of 2 where n is user input

n = int(input("write a number"))
sum=0
for i in range(2,n+1,2):
    sum=sum+i
print(sum)

30

List

In [123]:
nlist= ["abc","hff",23, 23.67,"suebv"]
print(nlist)

['abc', 'hff', 23, 23.67, 'suebv']

In [124]:
nlist= ["abc","hff",23, 23.67,"suebv"]
print(nlist[1])
nlist.index("suebv")

hff

4

List

In [126]:
listex = ["one","two","three","four"]
print(listex[3])

four

In [ ]:
print[listex]

In [127]:
if "three" in listex:
    print ("success")

success

In [130]:
if "Three" in listex: #case sensitive
    print("success")
else:
    print ("unsucess")

unsucess

In [151]:
listex.append("five") #To add one element

In [152]:
print(listex)

['one', 'two', 'three', 'four', 'five', 'five', 'five', 'five']

In [155]:
listex.pop() #remove one element (Backspace)

'five'

In [154]:
print(listex)

['one', 'two', 'three', 'four', 'five', 'five', 'five']

In [156]:
listex.pop(3) #list the element to pop

'four'

In [157]:
print(listex)

['one', 'two', 'three', 'five', 'five']

In [159]:
listex.remove("one") #remove by specifying the string

In [160]:
print(listex)

['two', 'three', 'five', 'five']

In [162]:
len(listex)

4

sort() | reverse()

In [168]:
listex.sort() #if numbers then ascending order if strings then alphabetically

In [169]:
print(listex)

['five', 'five', 'three', 'two']

In [172]:
listex.reverse() #to reverse the order

In [171]:
print(listex)

['two', 'three', 'five', 'five']

https://pravi.co/ to understand programming (visual and python)

Functions

In [204]:
def fname(name):
    print("I am your first function..",name)
    retVal = "Success"
    return retVal, True

In [205]:
status, flag = fname(name) #to call the function
print(status, flag)

I am your first function.. Prajwal
Success True

In [206]:
name = "Prajwal"
status, flag = fname(name) #to call the function
print(status, flag)

I am your first function.. Prajwal
Success True

Define a function that takes in a list of numbers & return the sum of numbers. (without any pre defined function)

In [242]:
def sum(n):
    sum=0
    for item in n:
        sum=sum+item
    return sum

In [243]:
sum([1,2,3,4,5,6])

21

In [245]:
lst=[1,2,3,4,5]
for item in range(0,len(lst),1):
    print(lst[item])

1
2
3
4
5

Ask user to enter value seperated by ','

In [255]:
def sumlistfn(lst):
    sum = 0
    # logic to sum the numbers in the list
    for item in lst:
        sum += int(item)
    return sum

userInput = input("Enter a list of numbers separated via comma")
# 2, 3, 4, 5, 6, 7, 10, 23
array = userInput.strip().split(',')
# ["2","3","4","5","6","7","10","23"]
sum = sumlistfn(array)
print("sum: ",sum)

sum:  10

Count the number odd and even numbers in the list and print the odd numbers count & even numbers count along with the numbers

You will have a function that will take a list of numbers, then returns the count of odd numbers and even numbers and the new list of odd numbers and even numbers

In [268]:
def odd_even(n):
    eventCounter = 0
    oddCounter = 0
    
    for item in n:
        num = int(item.strip())  # Convert each item to an integer
        
        if num % 2 == 0:
            print(num, "the number is even")
            eventCounter += 1
        else:
            print(num, "number is odd")
            oddCounter += 1
    
    return oddCounter, eventCounter  # Return both counters

userinput = input("enter the numbers separated by commas: ")
arr = userinput.split(',')
oddCount, evenCount = odd_even(arr)  # Get the counters

print("Count of odd numbers:", oddCount)
print("Count of even numbers:", evenCount)

1 number is odd
22 the number is even
3333 number is odd
4 the number is even
4 the number is even
4 the number is even
5 number is odd
Count of odd numbers: 3
Count of even numbers: 4


1. `def odd_even(n):` starts the definition of a function named `odd_even` that takes one argument, `n`, which should be a list of numbers.

2. `eventCounter` and `oddCounter` are initialized to keep track of the counts of even and odd numbers.

3. The `for item in n:` loop iterates through each item in the input list `n`.

4. `num = int(item.strip())` converts the current item (a string) to an integer. The `strip()` function removes any leading or trailing spaces from the string.

5. The `if num % 2 == 0:` statement checks if the current number is even by using the modulo operator (`%`) to check if the remainder of the division by 2 is 0.

6. Depending on whether the number is even or odd, the respective counter is incremented (`eventCounter` for even and `oddCounter` for odd).

7. Finally, the `oddCounter` and `eventCounter` are returned from the function.

8. The user is prompted to input a list of numbers separated by commas.

9. The input string is split into individual numbers using `.split(',')`.

10. The `odd_even` function is called with the list of numbers, and the returned counters are stored in `oddCount` and `evenCount`.

11. The counts of odd and even numbers are printed to the screen.